{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="content">
    <div class="row">
        <div class="col-lg-12">
        <table class="table table-hover">
            <a href=""><button class="btn btn-danger">Add personnes</button></a>
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>Action disponible</th>
            </thead>
            <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td>{{ personne.datedenaissance }}</td>
                    <td>{{ personne.telephone }}</td>
                    <td>{{ personne.email }}</td>
                    <td><button class="btn btn-danger">D</button><button class="btn btn-info">V</button><button class="btn btn-warning">E</button></td>
                </tr>
                {% endfor %}
            </tbody>

        </div>
    </div>
</div>

{% endblock %}
